In [15]:
import numpy as np
import pandas as  pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

data = [["apple"], ["banana"], ["orange"], ["apple"], ["strawberry"], ["banana"]]
data

[['apple'], ['banana'], ['orange'], ['apple'], ['strawberry'], ['banana']]

In [16]:
myencoderOrdinal = OrdinalEncoder()
myencoderOrdinal.fit(data)
myencoderOrdinal.categories_

[array(['apple', 'banana', 'orange', 'strawberry'], dtype=object)]

In [20]:
encodedDataordinal = myencoderOrdinal.transform(data)
encodedDataordinal

array([[0.],
       [1.],
       [2.],
       [0.],
       [3.],
       [1.]])

In [18]:
myencoder = OneHotEncoder(handle_unknown="ignore") # handle_unknown{"error":"ignore"}
myencoder.fit(data)
myencoder.categories_

[array(['apple', 'banana', 'orange', 'strawberry'], dtype=object)]

In [22]:
encodedData = myencoder.transform(data).toarray()
encodedData

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.]])

In [26]:
# transform a new data set
data_new = [["banana"], ["banana"], ["strawberry"]]
encodedDataNew = myencoder.transform(data_new).toarray()
encodedDataNew

array([[0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.]])

In [27]:
# transform another data set with "unknow" category
data_new2 = [["banana"], ["grape"], ["strawberry"], ["plum"]]
encodedDataNew2 = myencoder.transform(data_new2).toarray()
encodedDataNew2

array([[0., 1., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.]])

In [28]:
# transform encoded data back to its normal values
myencoder.inverse_transform(encodedDataNew)

array([['banana'],
       ['banana'],
       ['strawberry']], dtype=object)

In [29]:
myencoder.inverse_transform(encodedDataNew2)

array([['banana'],
       [None],
       ['strawberry'],
       [None]], dtype=object)