In [34]:
import numpy as np
import pandas as pd

In [35]:
width = 10
height = 100
numdatapoints = 100000
area = width * height

In [36]:
def  my_function(x):
    return x * x

In [37]:
def check(y, fxIn):
    if y > fxIn:
        return 0
    else:
        return 1

In [38]:
np.random.seed(1)
mynumbersX = np.random.rand(numdatapoints)*width
mynumbersY = np.random.rand(numdatapoints)*height
df = pd.concat([pd.DataFrame(data = mynumbersX), pd.DataFrame(data = mynumbersY), 
              pd.DataFrame(data = mynumbersX).apply(my_function)], axis=1)
df.columns = ["x", "y", "f(x)=x^2"]
df["check"] = df.apply(lambda row:check(row["y"], row["f(x)=x^2"]), axis=1)
df[0:10]

          x          y   f(x)=x^2  check
0  4.170220  31.846122  17.390735      0
1  7.203245  60.028610  51.886738      0
2  0.001144  12.571530   0.000001      0
3  3.023326  34.363610   9.140498      0
4  1.467559  74.438795   2.153729      0
5  0.923386  78.093380   0.852642      0
6  1.862602  82.540155   3.469287      0
7  3.455607  15.316603  11.941222      0
8  3.967675  49.612883  15.742443      0
9  5.388167  20.603748  29.032347      1

In [39]:
result = (df["check"].sum() / numdatapoints) * area
result 
# seed = 4   -----> 335.01 
# seed = 1   -----> 333.43
# If I increase the number of points(numdatapoints), the error related to the seed decreases!

333.43